<!--
    tf2实现警察抓小偷案例
-->
<launch>
     <!-- 启动乌龟节点与键盘控制节点 -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" output="screen" />
    <node pkg="turtlesim" type="turtle_teleop_key" name="key_control" output="screen"/>
      <!-- 启动创建第二只乌龟的节点 -->
    <node pkg="catch_turtle" type="create_turtle" name="turtle2" output="screen" />
    <!-- 启动两个坐标发布节点 -->
    <node pkg="catch_turtle" type="publisher_tf" name="police" output="screen" args="turtle1" />
    <node pkg="catch_turtle" type="publisher_tf" name="thief" output="screen" args="turtle2" />
    <!-- 启动坐标转换节点 -->
     <node pkg="catch_turtle" type="catch_turtle" name="listener" output="screen" />
</launch>